* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fefae0;
}
.navbar {
  z-index: 2;
  background-color: #b1ab86;
  color: #0a400c;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar h1 {
  font-size: 1.5rem;
  font-weight: 800;
  opacity: 100%;
}
.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navbar ul li a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #0a400c;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.navbar ul li a:hover {
  border-bottom: 1px solid #0a400c;
  color: #0a400c;
}
.hero {
    object-fit: cover;
    height: 100vh;
    display: absolute;
    justify-content: relative;
    align-items: center;
    text-align: center;
}
.hero-text h2 {
  font-size: 33px;
  margin-bottom: 20px;
  color: #0a400c;
}
.hero-text p {
  font-size: 20px;
}
.hero-text button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #819067;
  color: #0a400c;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);

}
.hero-text button a {
  text-decoration: none;
  color: #fefae0;
  font-weight: 800;
}
.hero-text button:hover {
  background-color: #0a400c;
  color: #fefae0;
  cursor: pointer;
}
.hero img {
  width: 100%;
  height: 112vh;
  overflow: hidden;
  object-fit: cover;
  opacity: 50%;
  justify-content: relative;
  align-content: center;
  display: relative;

}
.hero-text{
    border: #0a400c 3.5px solid;
    padding: 20px;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    width: 600px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 33%;
}
.footer-main {
  background-color: #b1ab86;
  color: #0a400c;
  text-align: center;
  padding: 10px;
  position: relative;
  margin-top: 90px;
}
.login-container {
  width: 800px;
  height: 600px ;
  margin: 150px auto;
  padding: 20px;
  border: 3px solid #0a400c;
  border-radius: 10px;
  background-color: #fefae0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.login-text {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: 30px;
  color: #0a400c;
  font-size: 40px;
}
.login-container label  {
  display: block;
  margin-bottom: 10px;
  color: #0a400c;
  font-size: 18px;
  margin-top: 10px;
}
.login-container form {
  margin-top: 80px;
  text-align: left;
  margin-left: 30px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
  width: 40%;
  padding: 10px;
  margin-bottom: px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-container button {
  width: 40%;
  padding: 10px;
  background-color: #819067;
  color: #fefae0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
  display: block;
}
.login-container button:hover {
  background-color: #0a400c;
}
.login-container .checkbox {
  align-items: center;
  margin-top: 10px;
  color: #0a400c;
}
.login-container .checkbox input {
  margin-right: 10px;
}
.login-container .checkbox label {
  margin: 0;
}
.login-container img {
  width: 400px;
  height: 595px;
  position: absolute;
  top: 153px;
  right: 362px;
  border-radius: 10px;
}
.signup-container {
  width: 800px;
  height: 600px ;
  margin: 150px auto;
  padding: 20px;
  border: 3px solid #0a400c;
  border-radius: 10px;
  background-color: #fefae0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.signup-text {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: 30px;
  color: #0a400c;
  font-size: 40px;
}
.signup-container label  {
  display: block;
  margin-bottom: 10px;
  color: #0a400c;
  font-size: 18px;
  margin-top: 10px;
}
.signup-container form {
  margin-top:60px;
  text-align: left;
  margin-left: 30px;
}
.signup-container input{
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.signup-container input[type="checkbox"] {
  width: auto;
}
.signup-container button {
  width: 40%;
  padding: 10px;
  background-color: #819067;
  color: #fefae0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
  display: block;
}
.signup-container button:hover {
  background-color: #0a400c;
}
.signup-container .checkbox {
  align-items: center;
  margin-top: 10px;
  color: #0a400c;
}
.signup-container .checkbox input {
  margin-right: 10px;
}
.signup-container .checkbox label {
  margin: 0;
}
.signup-container img {
  width: 400px;
  height: 595px;
  position: absolute;
  top: 153px;
  right: 362px;
  border-radius: 10px;
}

