* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100%;
}

/* APP FULL SCREEN */
.chat-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #efeae2;
}

/* HEADER */
.chat-header {
    background-color: #819067;
    color: #fff;
    padding: 16px 20px;
}

.header-info h3 {
    font-size: 18px;
}

.header-info span {
    font-size: 13px;
    opacity: 0.85;
}

/* CHAT BODY */
.chat-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

/* MESSAGE */
.message {
    display: flex;
    margin-bottom: 14px;
}

.message.left {
    justify-content: flex-start;
}

.message.right {
    justify-content: flex-end;
}

/* BUBBLE */
.bubble {
    max-width: 65%;
    background-color: #ffffff;
    padding: 12px 14px;
    border-radius: 12px;
    position: relative;
}

.message.right .bubble {
    background-color: #dcf8c6;
}

/* Nama pengirim */
.bubble strong {
    font-size: 12px;
    color: #555;
}

/* Isi pesan */
.bubble p {
    font-size: 15px;
    margin: 6px 0;
}

/* Waktu */
.time {
    font-size: 11px;
    display: block;
    text-align: right;
    color: #888;
}

/* INPUT */
.chat-input {
    display: flex;
    padding: 12px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
}

.chat-input input {
    flex: 1;
    padding: 10px 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.chat-input button {
    margin-left: 10px;
    padding: 10px 18px;
    background-color: #819067;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .bubble {
        max-width: 80%;
    }
}
