*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #fefae0;
}
.navbar {
  z-index: 2;
  background-color: #b1ab86;
  color: #0a400c;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar h1 {
  font-size: 1.5rem;
  font-weight: 800;
  opacity: 100%;
}
.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navbar ul li a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #0a400c;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.navbar ul li a:hover {
  border-bottom: 1px solid #0a400c;
  color: #0a400c;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card{
    width: 325px;
    background-color: #fefae0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 16px;
}
.card-content h3{
    font-size: 24px;
    margin-bottom: 8px;
}
.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #819067;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}

.footer-main {
  background-color: #b1ab86;
  color: #0a400c;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
  position: relative;
}