* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #729660;
    background-color: #f2ebd3;;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #E2E1C1;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2D4628;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #2D4628;
    font-weight: 500;
}

.nav-links a.active {
    border-bottom: 2px solid #2D4628;
}

/* HERO SECTION */
.hero {
    padding: 20px 50px;
}

.hero-overlay {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1518531933037-91b2f5f229cc?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    height: 350px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #2D4628;
}

.hero-content {
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 10px;
    max-width: 80%;
}

.hero-content h1 {
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 18px;
    font-weight: 500;
}

/* NEWS SECTION */
.news-section {
    padding: 40px 50px;
}

.section-title {
    background-color: #939C77;
    color: #2D4628;
    width: fit-content;
    padding: 10px 40px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.news-card {
    background: #F4F3E1;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.news-image img {
    width: 100%;
    border-radius: 8px;
    height: 180px;
    object-fit: cover;
}

.news-text {
    margin: 15px 0;
    font-size: 13px;
    line-height: 1.5;
    text-align: justify;
}

.btn-read-more {
    background-color: #1A3316;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
/* Footer */
.footer-main {
    background: #b1ab86;
    color: #0a400c;
    text-align: center;
    padding: 2rem;
    margin-top: auto;
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }
    
    .hero-content h1 {
        font-size: 2.5rem;
    }
    
    .hero-content p {
        font-size: 1.1rem;
    }
}
