* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fefae0;
}
.navbar {
  z-index: 2;
  background-color: #b1ab86;
  color: #0a400c;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar h1 {
  font-size: 1.5rem;
  font-weight: 800;
  opacity: 100%;
}
.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navbar ul li a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #0a400c;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.navbar ul li a:hover {
  border-bottom: 1px solid #0a400c;
  color: #0a400c;
}
.hero {
    object-fit: cover;
    height: 100vh;
    display: absolute;
    justify-content: relative;
    align-items: center;
    text-align: center;
}
.hero-text h2 {
  font-size: 33px;
  margin-bottom: 20px;
  color: #0a400c;
}
.hero-text p {
  font-size: 20px;
}
.hero-text button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #819067;
  color: #0a400c;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);

}
.hero-text button a {
  text-decoration: none;
  color: #fefae0;
  font-weight: 800;
}
.hero-text button:hover {
  background-color: #0a400c;
  color: #fefae0;
  cursor: pointer;
}
.hero img {
  width: 100%;
  height: 112vh;
  overflow: hidden;
  object-fit: cover;
  opacity: 50%;
  justify-content: relative;
  align-content: center;
  display: relative;

}
.hero-text{
    border: #0a400c 3.5px solid;
    padding: 20px;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    width: 600px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 33%;
}
.footer-main {
  background-color: #b1ab86;
  color: #0a400c;
  text-align: center;
  padding: 10px 0;
  margin-top: 93px;

}
.login-container {
  margin: 170px auto;
  border: #0a400c 4px solid;
  border-radius: 50px;
  width: 1000px;
  height: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: relative;
  height: 100%;
  padding: 50px;
  margin-top: 10%;
}
.login-form h2 {
  margin-bottom: 20px;
  color: #0a400c;
}
.login-form label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #0a400c;
}
.login-form input {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-form button {
  padding: 10px 20px;
  background-color: #819067;
  color: #0a400c;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-form button:hover {
  background-color: #0a400c;
  color: #fefae0;
}
.checkbox {
  
}
 

