* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fefae0;
}
.navbar {
  z-index: 2;
  background-color: #b1ab86;
  color: #0a400c;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar h1 {
  font-size: 1.5rem;
  font-weight: 800;
  opacity: 100%;
}
.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navbar ul li a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #0a400c;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.navbar ul li a:hover {
  border-bottom: 1px solid #0a400c;
  color: #0a400c;
}
.hero {
    object-fit: cover;
    height: 100vh;
    display: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-text h2 {
  font-size: 33px;
  margin-bottom: 20px;
  color: #0a400c;
}
.hero-text p {
  font-size: 20px;
}
.hero-text button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #819067;
  color: #0a400c;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
  text-decoration: none;

}
.hero-text button a {
  text-decoration: none;
  color: #fefae0;
  font-weight: 800;
}
.hero-text button:hover {
  background-color: #0a400c;
  color: #fefae0;
  cursor: pointer;
}
.hero-text a:hover {
  color: B1AB86;
}
.hero img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  opacity: 50%;
}
.hero-text{
    border: #0a400c 2px solid;
    padding: 20px;
    border-radius: 10px;
    margin-left: 560.5px ;
    align-content: center;
    text-align: center;
    position: absolute;
    bottom: 250px;
}
.footer-main {
  background-color: #b1ab86;
  color: #0a400c;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
  position: relative;
}
.login-container {
  margin-top: 200px;
  border: #0a400c 4px solid;
  border-radius: 50px;
  margin-left: 40px;
  padding: 100px;
  width: 450px;
  height: 500px;
}
.login-text {
  text-align: center;
  margin-bottom: 20px;
}
.login-container h2{
  margin-bottom: 20px;
  color: #0a400c;
  text-align: center;
  margin-top: -70px;
  font-size: 40px;
  margin-bottom: 90px;
}
.form-login  {
  margin-bottom: 15px;
  font-size: 18px;
  text-decoration: none;
  text-align: left;  
}
form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 5px;
  text-decoration: none;
}
form button {
  width: 100%;
  padding: 10px;
  background-color: #819067;
  color: #0a400c;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-top: 50px;
}
form button:hover {
  background-color: #0a400c;
  color: #fefae0;
}
.form-main{
  display: flex;
  justify-content: center;
}
.signup-container {
  margin-top: 200px;
  border: #0a400c 4px solid;
  border-radius: 50px;
  margin-left: 40px;
  padding: 100px;
  width: 450px;
  height: 500px;
}
.signup-text {
  text-align: center;
  margin-bottom: 20px;
}
.signup-container h2{
  margin-bottom: 20px;
  color: #0a400c;
  text-align: center;
  margin-top: -70px;
  font-size: 40px;
  margin-bottom: 90px;
}
.signup-text  {
  margin-bottom: 15px;
  font-size: 18px;
  text-decoration: none;
  text-align: left;  
}
.signup-text input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 5px;
  text-decoration: none;
}
.signup-text button {
  width: 100%;
  padding: 10px;
  background-color: #819067;
  color: #0a400c;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-top: 50px;
}
.signup-text button:hover {
  background-color: #0a400c;
  color: #fefae0;
}