*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FEFAE0;
}
nav {
    z-index: 2;
    background-color: #B1AB86;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
nav ul li a{
    font-size: 1rem;
    text-decoration: none;
    color: #ddd;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.hero{
    border: solid #819067 4px;
    margin: 200px;
    padding: 50px;
    text-align: center;
    border-radius: 40px;
}
.hero h2{
    font-size: 33px;
    margin-bottom: 20px;
    color: #0A400C;
}
.hero p{
    font-size: 20px;
}
nav ul li a:hover{
    color: #0A400C;
    border-bottom: 2px solid #819067;
}